nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px inset #ac1ae6 ;
    
   }
   nav ul li{
    display: flex;
    margin: 0 20px;
   
   }
   a{
    text-decoration: none;
    color: #000;
    
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border: 5px #000;
    transition: 2.5s;
   }
   a:hover{
    background: #e9e9e9;
    border-radius: 30px
   }
   .button{
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    background: #c35bec;   
    border-radius: 30px;
    font-size: 16px;
    border: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 2.5s;
   }
   .button:hover{
    background: #a62ab9;
   }
   
    img{
    height: 60px;

   }
  
   body{
    font-family: Arial, Helvetica, sans-serif;
   }
   .search-box{
   flex-grow: 1;
   text-align: center;
   }
   .search-box input[type="text"]{
    width: 70%;  
    padding: 10px;
    font-size: 16px;
    border: 2px solid #79389296 ;
    outline: none;
    border-radius: 30px;
    color: #793892;
    }
    .search-box input::placeholder{
        color: #793892;
        opacity: 0.7;
    }
   